/* colors to use throughout the webpage */
:root {
    --font-fam: 'Montserrat', sans-serif;
    --dark-pink: rgba(255, 80, 114, 1);
    --light-pink: rgb(255, 224, 230);
    --purple: rgb(138, 80, 255);
    --light-blue: rgb(212, 240, 247);
    --lavendar: rgb(208, 213, 247);
}

/* styling for every element */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for the body */
body {
    background: linear-gradient(
        rgb(246, 218, 228),
        rgb(212, 240, 247),
        rgb(208, 213, 247),
        rgb(184, 207, 236)
    );
    animation-name: fade-in;
    animation-duration: 2s;
}

/* header grid display */
header {
    display: grid;
}

/* class header is setting up the navigation bar */
.header {
    font-family: var(--font-fam);
    text-align: center;
    font-size: 30px;
    display: flex;
    background: var(--purple);
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    padding: 4%;
}

/* styling for h1 */
h1 {
    font-family: var(--font-fam);
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2;
    font-weight: bold;
    text-align: center;
}

/* styling for h2 */
h2 {
    font-family: var(--font-fam);
}

/* styling for h3 */
h3 {
    font-size: 30px;
    font-family: var(--font-fam);
    font-weight:lighter;
    text-align: center;
}

/* styling for h4 */
h4 {
    font-size: 25px;
    font-family: var(--font-fam);
    font-weight: normal;
    margin-left: 3%;
    margin-top: 2%;
    padding: 1%;
}

/* styling for all p tags */
p {
    font-family: var(--font-fam);
    font-weight:lighter;
}

/* styling for logo "MICH" */
.navbar-logo {
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: .3em;
    transition: .5s;
    margin: auto;
    margin-left: 2%;
}

/* changes color to lavendar when hovering over */
.navbar-logo:hover {
    color: var(--lavendar);
}

/* setting up navlinks to display properly */
.navlinks {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    justify-content: flex-end;
}

.navbar-links {
    list-style-type: none;
    padding: 3%;
}

.navlinks a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

/* when hovering, pink underline pops up under each section in the navbar */
.navbar-links::after {
    content:'';
    width: 0%;
    height: 2px;
    background:var(--dark-pink);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navbar-links:hover::after {
    width: 100%;
}

/* formatting for picture area in header section */
.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    padding: 5%;
    flex-wrap: wrap;
}

.text-box img {
    margin-bottom: 3%;
    transition: .5s 
}

/* when my img/avatar is hovered over it gets a little bigger */
.text-box img:hover {
    transform: scale(1.15);
}

.about-me {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.about-me-p {
    height: 200px;
    width: auto;
    margin-left: 3%;
    margin-top: 2%;
    padding: 1%;
    font-size: 20px;
}

.subtitle {
    font-size: 50px;
    color: black;
    padding: 1%;
    margin: 1%;
    margin-top: 1%;
}

/* added an underline under each section */
.subtitle::after {
    content:'';
    display: block;
    width: 100%;
    height: 5px;
    margin: auto;
    background-color: rgb(234, 156, 204);
}

.my-work {
    margin: 5%;
}

/* styling for the images and creating a grid box */
.images-poke nav {
    list-style: none;
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    gap: 50px 50px;
    justify-content: center;
    grid-template-columns: repeat(3, .3fr);
    position: relative;
    width: 100%;
}

.link-images {
    height: 100%;
    width: 100%;
    background-color: azure;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

/* when images are hovered over, they get a little bigger and have a light blue shadow */
.overlay:hover {
    transition: .5s;
    transform: scale(1.03);
    cursor: pointer;
}

.link-pink:hover {
    box-shadow: 0 0 10px 2px var(--light-pink);
}

.link-purp:hover {
    box-shadow: 0 0 10px 2px var(--purple);
}

.link-blue:hover {
    box-shadow: 0 0 10px 2px #29b6f6;
}

.link-darkpink:hover {
    box-shadow: 0 0 10px 2px #ff1493;
}

.overlay {
    position: relative;
    font-family: var(--font-fam);
    border-radius: 10px;
} 

.skills {
    margin: 5%;
}

.row-1, .row-2, .row-3 {
    display: grid;
}

.item-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

.item-2 {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2rem;
    border-radius: 10px;
}

.item-3 {
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

.item-4 {
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 2rem;
    border-radius: 10px;
}

.row-1-content, 
.row-2-content, 
.row-3-content {
    margin: 3%;
}

/* setting the first image to be the biggest */
#image-grid-col-row {
    grid-column: span 3;
    grid-row: span 1;
    height: 350px;
}



/* text to overlay over the images */
.h3-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 20%;
    transition: .5s ease;
    color: white;
    font-weight: normal;
    font-size: 30px;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
}

.contact-me {
    margin: 5%;
}

.contactme-navbar {
    display: flex;
    align-items: center;
}

/* formatting for contact links */
.contact-links li {
    font-family: var(--font-fam);
    display: inline-block;
    list-style: none;
    position: relative;
    margin: 20px;
    padding: 10px;
}

/* following two are adding an emoji before some of the contact links */
.phone::before {
    content: '📞    ';
}

.email::before {
    content: '✉️    ';
}

/* contact link formatting */
.contact-links li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    position: relative;
}

/* when contact links at the bottom of webpage are hovered over, they turn purple */
.contact-links li a:hover {
    color: var(--purple);
}

/* creates a nice transition when the page is loaded or refreshed */
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity:1;}
}

/* format for footer */
footer {
    margin: 50px;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 1060px) {
    .h3-overlay {
        height: 20%;
    }

    .header {
        padding: 6%;
    }

    .navbar-logo {
        margin-left: 2%;
        margin-top: 25px;
        font-size: 18px;
    }

    .small-overlay {
        font-size: 20px;
        padding: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .navbar-logo {
        font-size: .1rem;
        letter-spacing: .1em;
        transition: .5s;
        margin: auto;
    }

    .navlinks {
        display: absolute;
        width: 100%;
        margin-left: 1%;
    }

    .navlinks li a {
        font-size: 20px;
    }

    .text-box {
        margin-left: 5px;
    }

    .my-work {
        margin-top: 35%;
    }

    .skills, .contact-me {
        margin-top: 10%;
    }

    .text-box h3 {
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
    }

    .text-box h1 {
        display: flex;
        flex-wrap: wrap;
        font-size: 45px;
    }

    .navbar-links {
        list-style-type: none;
        padding: 3%;
    }
    
    .image-me {
        height: 300px;
        width: 300px;
    }

    .small-overlay {
        font-size: 15px;
        padding: 1.5rem;
    }

    .header {
        padding: 8%;
    }

    .navbar-logo {
        margin-left: 2%;
        margin-top: 5%;
        font-size: 15px;
    }

    .item-1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .item-2 {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    
    .item-3 {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    
    .item-4 {
        grid-column-start: 1;
        grid-row-start: 2;
    }
 
}

