
:root {
    --font-fam: 'Montserrat', sans-serif;
    --dark-pink: rgba(255, 80, 114, 1);
    --light-pink: rgb(255, 224, 230);
    --purple: rgb(138, 80, 255);
    --black: rgba(32, 33, 36, 1);
    --cherub: rgb(246, 218, 228);
    --light-blue: rgb(212, 240, 247);
    --lavendar: rgb(208, 213, 247);
    --tropical-blue: c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        rgb(246, 218, 228),
        rgb(212, 240, 247),
        rgb(208, 213, 247),
        rgb(184, 207, 236)
    );
    animation-name: fade-in;
    animation-duration: 2s;
}

.header {
    font-family: var(--font-fam);
    text-align: center;
    font-size: 30px;
    display: flex;
    background: var(--purple);
    height: 30px;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
}

#favicon {
    color:var(--light-pink);
    text-decoration: none;
    padding: 50px;
    margin: 20px;
    position:absolute;
    left: 3%;
    text-transform: uppercase;
    font-weight:bold;
    color: white;
    letter-spacing: .3em;
    transition: .5s;
}

#favicon:hover {
    color: var(--light-pink);
}

h1 {
    font-family: var(--font-fam);
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 2;
    font-weight: bold;
}

h2 {
    font-family: var(--font-fam);
}

h3 {
    font-size: 30px;
    font-family: var(--font-fam);
    font-weight:lighter;
}

p {
    font-family: var(--font-fam);
    font-weight:lighter;
}

.navlinks li {
    font-family: var(--font-fam);
    display: inline-block;
    list-style: none;
    position: relative;
    margin: 20px;
    padding: 20px;
}

.navlinks li a {
    color: var(--light-pink);
    text-decoration: none;
    font-size: 20px;
}

.navlinks li::after {
    content:'';
    width: 0%;
    height: 2px;
    background:var(--lavendar);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navlinks li:hover::after {
    width: 100%;
}

aside {
    font-family: var(--font-fam);
    border: 5px solid var(--black);
    margin: 2%;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
    padding: 5%;
    flex-wrap: wrap;
}

.text-box img {
    margin-bottom: 3%;
    transition: .5s 
}

.text-box img:hover {
    transform: scale(1.15);
}

.subtitle {
    font-size: 40px;
    color: aliceblue;
    background-color: rgb(234, 156, 204);
    padding: 10px;
    margin: 10px;
}

.about-me-p {
    height: 400px;
    width: auto;
    margin: 30px;
    padding: 10px;
}

.my-work-p {
    display: flex;
    height: 400px;
    width: auto;
    margin: 30px;
    padding: 10px;
}

.images-poke {
    display: block;
}

.images-poke > img {
    height: 400px;
    width: 400px;
    margin: 50px;
    padding: 50px;

}

.section-side {
    font-weight: bolder;
    color: darkmagenta;
    border: 5px dotted rgb(121, 75, 201);
    margin: 5px;
    padding: 5px;
}

.subtitle-side {
    font-weight: lighter;
    color:powderblue;
    background-color:rgb(234, 156, 204);
}

.section-side > p {
    font-size: 18px;
}

.contact-me {
    font-size: 40px;
    color: aliceblue;
    background-color: rgb(234, 156, 204);
    padding: 15px;
    margin: 15px;
}

.contactme-navbar {
    display: flex;
    align-items: center;
}

.contact-links li {
    font-family: var(--font-fam);
    display: inline-block;
    list-style: none;
    position: relative;
    margin: 30px;
    padding: 20px;
}

.contact-links li a {
    text-decoration: none;
    color: var(--lavendar);
    font-size: 20px;
}

.contact-links:visited {
    color:var(--purple);
    text-decoration: none;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity:1;}
}

